<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h4> Game Page </h4>

    <div>
      <ul>
        <li ng-repeat='player in players'>
          <p>Player{{player.id}}: {{player.playerScore}}</p>
          <!-- <span ng-repeat='score in player.playerScore'>&nbsp {{score}} , </span> -->
        </li>
      </ul>
    </div>

    <div>
      <p>Current Player</p>
      <h4>Player{{currentPlayer.id}}</h4>
      <p>Current choices: </p>
      <p><span ng-repeat='number in currentDiceRollChoices track by $index'> {{number}} </span></p>
      <p><span ng-repeat='number in currentRollScore track by $index'> {{number}} </span><p>

    <button ng-show='!currentDiceRollChoices.length' ng-click='diceRoll()'>Start Turn!</button>

    <div ng-click='choiceMadeToggle()' ng-show='!choiceMade'>
    <p> Roll results </p>
      <span ng-repeat='die in dice track by $index'>{{die}} &nbsp </span>
        <ul>
          <li ng-repeat='set in pairSets'>
            <!-- <li ng-repeat='pair in set'> -->
            <span ng-click='chooseDiceRolls()'>
              <p>{{set.set[0]["pair"]}}, {{set.set[1]["pair"]}}</p>
            </span>
            <!-- </li> -->
          </li>
        </ul>
    </div>
        <button ng-show='choiceMade' ng-click='stopTurn()'>Stop.</button>
        <button ng-show='choiceMade' ng-click='diceRoll()'>Roll again.</button>





  </body>
</html>
