<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h4> Game Page </h4>

    <div>
      <ul>
        <li ng-repeat='player in players'>
          <p>Player{{player.id}}: {{player.playerScore}}</p>
          <!-- <span ng-repeat='score in player.playerScore'>&nbsp {{score}} , </span> -->
        </li>
      </ul>
    </div>

    <div>
      <p>Current Player</p>
      <h4>Player{{currentPlayer.id}}</h4>
      <p>Current choices: </p>
      <p><span ng-repeat='number in currentDiceRollChoices track by $index'> {{number}} </span></p>
      <p><span ng-repeat='number in currentRollScore track by $index'> {{number}} </span><p>

    <button ng-show='!currentDiceRollChoices.length' ng-click='diceRoll()'>Start Turn!</button>

    <p> Roll results </p>
    <div>
      <span ng-repeat='die in dice track by $index'>{{die}} &nbsp </span>
        <ul>
          <li ng-repeat='combo in pairs'>
            <span ng-click='chooseDiceRolls(combo)'>
              <p>{{combo.pair1}},{{combo.pair2}}</p>
            </span>
          </li>
        </ul>
        <button ng-show='currentDiceRollChoices.length' ng-click='stopTurn()'>Stop.</button>
    </div>





  </body>
</html>
